<% provide(:title, translated_attribute(@area.title)) %>

<% add_decidim_page_title(translated_attribute(@area.title)) %>
<% add_decidim_page_title(translated_attribute(current_section.name)) %>
<% add_decidim_meta_tags({
  description: strip_tags(translated_attribute(@area.description)),
  url: area_url(current_section.slug, @area.slug)
}) %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main static__content">
          <div class="page-title">
            <h1><%= translated_attribute @area.title %></h1>
          </div>

          <%= t(".description_html") %>
        </div>
      </div>
    </div>
  </div>

  <div class="container details-section">
    <div class="row columns">
      <h2 class="show-for-sr"><%= t(".demographics_title") %></h2>
    </div>

    <div class="row columns">
      <div class="row cards-grid" data-slide="<%= slider_options.to_json %>">
        <%= render partial: "detail", collection: @uncategorized_data %>
      </div>
    </div>
  </div>

  <div class="container bg-secondary divider-section">
    <div class="row medium-unstack controls-row">
      <div class="column medium-6 large-7">
        <div class="controls-row__description">
          <div class="static__content">
            <h2 class="h4 divider-section__title"><%= t(".categories_title") %></h2>

            <%= t(".categories_description_html") %>
          </div>
        </div>
      </div>
      <div class="column medium-6 large-4" data-details-filter="<%= area_details_path(current_section.slug, @area.slug) %>">
        <div class="controls-row__control">
          <p class="show-for-sr"><%= t(".filters.explanation") %></p>

          <%= form_with(url: area_url(current_section.slug, @area.slug), scope: "filter", method: :get, local: true) do |form| %>
            <div class="filters__control category_filter">
              <label for="details_category">
                <%= t(".filters.theme.label") %>
                <%= form.select(
                  :category,
                  detail_categories.map { |cat| [translated_attribute(cat.name), cat.id] },
                  { label: false, include_blank: t(".filters.theme.all"), selected: details_filter[:category] },
                  id: "details_category",
                  aria: { controls: "details" })
                %>
              </label>
            </div>

            <%= form.submit t(".filters.submit"), class: "button show-for-sr" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container details-section">
    <div class="row columns">
      <div role="region" id="details" aria-live="polite">
        <%= render partial: "details", locals: { details: @categorized_data } %>
      </div>
    </div>
  </div>

  <% if @area.show_banner? %>
    <div class="container">
      <div class="row columns">
        <div class="banner banner--padded bg-tertiary">
          <div class="banner__content">
            <%== translated_attribute(@area.banner_text) %>
          </div>
          <div class="banner__aside">
            <%= link_to translated_attribute(@area.banner_cta_link), class: "button expanded button--icon margin-bottom-0" do %>
              <%= translated_attribute(@area.banner_cta_text) %>
              <%= icon("arrow-right-line", role: "img", "aria-hidden": true) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "plans_list" %>
</div>

<%= append_javascript_pack_tag "decidim_insights_area" %>
