<div class="actions-panel bg-secondary">
  <a class="action-link">
    <span class="link-text">Tee ehdotus</span>
    <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
  </a>
</div>

<div class="actions-panel bg-secondary">
  <button type="button" class="link action-link favorite-button">
    <span class="link-text">Lisää suosikiksi</span>
    <%= icon("heart-line", role: "img", "aria-hidden": true) %>
  </button>
</div>

<div class="actions-panel bg-secondary">
  <a class="action-link external-link-container" target="_blank" data-external-link-spacer="">
    <span class="link-text">Näytä kartalla</span>
    <%= icon("map-marker", role: "img", "aria-hidden": true) %>
  </a>
</div>

<div class="actions-panel bg-secondary">
  <a class="action-link" href="#comments">
    <span class="link-text">Näytä kommentit</span>
    <%= icon("comment-square", role: "img", "aria-hidden": true) %>
  </a>
</div>

<div class="actions-panel bg-secondary">
  <button type="button" class="link action-link">
    <span class="link-text">Ilmoita</span>
    <%= icon("flag", role: "img", "aria-hidden": true) %>
  </button>
</div>

<div class="actions-panel bg-secondary">
  <button type="button" class="link action-link">
    <span class="link-text">Jaa</span>
    <%= icon("share", role: "img", "aria-hidden": true) %>
  </button>
</div>
