<% provide(:title, translated_attribute(@plan.title)) %>

<% add_decidim_page_title(translated_attribute(@plan.title)) %>
<% add_decidim_page_title(translated_attribute(current_area.title)) %>
<% add_decidim_page_title(translated_attribute(current_section.name)) %>
<% add_decidim_meta_tags({
  description: translated_attribute(@plan.summary),
  url: area_plan_url(current_section.slug, current_area.slug, @plan)
}) %>

<div class="wrapper">
  <div class="row column back-link">
    <%= link_to area_path(current_section.slug, current_area.slug, anchor: "plans"), class: "action-link" do %>
      <%= icon "arrow-left-line", role: "img", "aria-hidden": true %>
      <span><%= t(".back_to_list") %></span>
    <% end %>
  </div>

  <div class="row column resource">
    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main static__content margin-bottom-0">
          <h1><%= translated_attribute(@plan.title) %></h1>

          <div class="resource__tags">
            <span class="label primary"><%= t(".city_plan") %></span>
            <% @plan.tags.each do |tag| %>
              <span class="label"><%= translated_attribute(tag.name) %></span>
            <% end %>
          </div>

          <% if @plan.image.attached? %>
            <%= image_tag @plan.attached_uploader(:image).variant_url(:main), class: "resource__image", alt: t(".image_alt", title: translated_attribute(@plan.title)) %>
          <% elsif current_shakapacker_instance.manifest.lookup("insights-area-plan-default-image.jpg") %>
            <%= image_pack_tag "insights-area-plan-default-image.jpg", alt: t(".image_alt", title: translated_attribute(@plan.title)) %>
          <% else %>
            <%= image_pack_tag "media/images/insights-area-plan-default-image.jpg", alt: t(".image_alt", title: translated_attribute(@plan.title)) %>
          <% end %>
        </div>
      </div>

      <div class="columns small-12 medium-4">
        <div class="resource__aside">
          <div class="resource__actions">
            <%= render partial: "actions" %>
          </div>

          <%= render partial: "plan_attributes", locals: { plan: @plan } %>

          <%= render partial: "sidenote" %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main resource__content resource__content--standalone static__content">
          <h2><%= t(".subtitle") %></h2>
          <p><%== translated_attribute(@plan.summary) %></p>
          <%== translated_attribute(@plan.description) %>

          <%= render partial: "plan_map", locals: { plan: @plan } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= comments_for @plan %>

<% if content_for? :expanded %>
  <div class="comments-section container">
    <div class="row columns">
      <%= yield :expanded %>
    </div>
  </div>
<% end %>
